= simple_form_for @post,html:{multipart: true} do |f|
 = f.input :image
 = f.input :fullname 
 = f.input :address
 = f.input :tel_number 
 = f.input :mob_number 
 = f.input :email 
 = f.submit 